In [1]:
import pandas as pd
import json

In [2]:
f = open("SQuAD_JSON/train-tr-v1.1.json")

In [3]:
raw_json = json.load(f)

In [4]:
f = open("SQuAD_JSON/dev-tr-v1.1.json")

In [5]:
raw_json_dev = json.load(f)

In [6]:
f = open("TQuAD_JSON/train-v0.1.json")

In [7]:
raw_json_T = json.load(f)

In [8]:
f = open("TQuAD_JSON/dev-v0.1.json")

In [9]:
raw_json_T_dev = json.load(f)

In [10]:
raw_json["version"]

'1.1'

In [11]:
raw_json = raw_json["data"]

Reaching Down The QAs

SQUAD TRAİN

In [12]:
counter = 0
question_column = []
answer_column = []
for doc in raw_json:
    for paragraph in doc["paragraphs"]:
        for qas in paragraph["qas"]:
            question_column.append(qas["question"])
            answer_column.append(qas["answers"][0]["text"])
            
            counter+=1

print("Total # of qa pairs:",counter)
print("Len Question column:",len(question_column))
print("Len Answer column:",len(answer_column))

df = pd.DataFrame({"source":"SQuAD Dataset","concept":question_column,"description":answer_column})

Total # of qa pairs: 40014
Len Question column: 40014
Len Answer column: 40014

In [13]:
df

,source,concept,description
0,SQuAD Dataset,Meryem Ana'nın 1858'de Lourdes Fransa'da kime ...,Saint Bernadette Soubirous
1,SQuAD Dataset,Notre dame Scholastic Dergisi ne zaman yayınla...,Eylül 1876
2,SQuAD Dataset,Notre Dame'deki günlük öğrenci makalesine ne d...,Gözlemci
3,SQuAD Dataset,Notre Dame'da kaç tane öğrenci haber makalesi ...,üç
4,SQuAD Dataset,Common Sense öğrenci notu hangi yılda Notre Da...,1987
...,...,...,...
40009,SQuAD Dataset,Prithvi Otoyolu Katmandu'dan hangi yöne gidiyor?,batı
40010,SQuAD Dataset,"Eğer biri Katmandu'dan kuzeye gitmek isterse, ...",Araniko
40011,SQuAD Dataset,Nepal'in uluslararası seyahat için birincil ha...,Tribhuvan Uluslararası Havaalanı
40012,SQuAD Dataset,"Katmandu'nun merkezinden başlayarak, Tribhuvan...",6
40013,SQuAD Dataset,Uluslararası havayolları için kaç havayolu Tri...,22

SQUAD dev

In [14]:
counter = 0
question_column = []
answer_column = []
for doc in raw_json_dev:
    for paragraph in doc["paragraphs"]:
        for qas in paragraph["qas"]:
            question_column.append(qas["question"])
            answer_column.append(qas["answers"][0]["text"])
            
            counter+=1

print("Total # of qa pairs:",counter)
print("Len Question column:",len(question_column))
print("Len Answer column:",len(answer_column))

df_dev = pd.DataFrame({"source":"SQuAD Dataset","concept":question_column,"description":answer_column})

TypeError: string indices must be integers, not 'str'

In [63]:
df

,source,concept,description
0,SQuAD Dataset,Meryem Ana'nın 1858'de Lourdes Fransa'da kime ...,Saint Bernadette Soubirous
1,SQuAD Dataset,Notre dame Scholastic Dergisi ne zaman yayınla...,Eylül 1876
2,SQuAD Dataset,Notre Dame'deki günlük öğrenci makalesine ne d...,Gözlemci
3,SQuAD Dataset,Notre Dame'da kaç tane öğrenci haber makalesi ...,üç
4,SQuAD Dataset,Common Sense öğrenci notu hangi yılda Notre Da...,1987
...,...,...,...
40009,SQuAD Dataset,Prithvi Otoyolu Katmandu'dan hangi yöne gidiyor?,batı
40010,SQuAD Dataset,"Eğer biri Katmandu'dan kuzeye gitmek isterse, ...",Araniko
40011,SQuAD Dataset,Nepal'in uluslararası seyahat için birincil ha...,Tribhuvan Uluslararası Havaalanı
40012,SQuAD Dataset,"Katmandu'nun merkezinden başlayarak, Tribhuvan...",6
40013,SQuAD Dataset,Uluslararası havayolları için kaç havayolu Tri...,22

In [65]:
df.to_csv("webScrapper/csv_files/csv_SQuAD.csv",index=False)