In [1]:
import pandas as pd
import json

In [2]:
f = open("SQuAD_JSON/train-tr-v1.1.json")

In [3]:
raw_json = json.load(f)

In [4]:
f = open("SQuAD_JSON/dev-tr-v1.1.json")

In [5]:
raw_json_dev = json.load(f)

In [6]:
f = open("TQuAD_JSON/train-v0.1.json")

In [7]:
raw_json_T = json.load(f)

In [8]:
f = open("TQuAD_JSON/dev-v0.1.json")

In [9]:
raw_json_T_dev = json.load(f)

In [10]:
raw_json["version"]

'1.1'

In [11]:
raw_json = raw_json["data"]

Reaching Down The QAs

SQUAD Train Data

In [12]:
counter = 0
question_column = []
answer_column = []
for doc in raw_json:
    for paragraph in doc["paragraphs"]:
        for qas in paragraph["qas"]:
            question_column.append(qas["question"])
            answer_column.append(qas["answers"][0]["text"])
            
            counter+=1

print("Total # of qa pairs:",counter)
print("Len Question column:",len(question_column))
print("Len Answer column:",len(answer_column))

df = pd.DataFrame({"source":"SQuAD Dataset","concept":question_column,"description":answer_column})

Total # of qa pairs: 40014
Len Question column: 40014
Len Answer column: 40014

In [13]:
df

,source,concept,description
0,SQuAD Dataset,Meryem Ana'nın 1858'de Lourdes Fransa'da kime ...,Saint Bernadette Soubirous
1,SQuAD Dataset,Notre dame Scholastic Dergisi ne zaman yayınla...,Eylül 1876
2,SQuAD Dataset,Notre Dame'deki günlük öğrenci makalesine ne d...,Gözlemci
3,SQuAD Dataset,Notre Dame'da kaç tane öğrenci haber makalesi ...,üç
4,SQuAD Dataset,Common Sense öğrenci notu hangi yılda Notre Da...,1987
...,...,...,...
40009,SQuAD Dataset,Prithvi Otoyolu Katmandu'dan hangi yöne gidiyor?,batı
40010,SQuAD Dataset,"Eğer biri Katmandu'dan kuzeye gitmek isterse, ...",Araniko
40011,SQuAD Dataset,Nepal'in uluslararası seyahat için birincil ha...,Tribhuvan Uluslararası Havaalanı
40012,SQuAD Dataset,"Katmandu'nun merkezinden başlayarak, Tribhuvan...",6
40013,SQuAD Dataset,Uluslararası havayolları için kaç havayolu Tri...,22

SQUAD Dev Data

In [19]:
counter = 0
question_column = []
answer_column = []
for doc in raw_json_dev["data"]:
    for paragraph in doc["paragraphs"]:
        for qas in paragraph["qas"]:
            question_column.append(qas["question"])
            answer_column.append(qas["answers"][0]["text"])
            
            counter+=1

print("Total # of qa pairs:",counter)
print("Len Question column:",len(question_column))
print("Len Answer column:",len(answer_column))

df_dev = pd.DataFrame({"source":"SQuAD Dataset","concept":question_column,"description":answer_column})

Total # of qa pairs: 5858
Len Question column: 5858
Len Answer column: 5858

In [20]:
df_dev

,source,concept,description
0,SQuAD Dataset,Super Bowl 50'de hangi NFL takımı AFC'yi temsi...,Denver Broncos
1,SQuAD Dataset,Super Bowl 50'de hangi NFL takımı NFC'yi temsi...,Carolina Panthers
2,SQuAD Dataset,Hangi NFL takımı Super Bowl 50'yi kazandı?,Denver Broncos
3,SQuAD Dataset,Super Bowl'un 50. yıldönümünü vurgulamak için ...,altın
4,SQuAD Dataset,Super Bowl 50'nin teması neydi?,"""altın yıldönümü"""
...,...,...,...
5853,SQuAD Dataset,Makroskopik kapalı sistem enerjilerini ne deği...,sistemin iç enerjileri
5854,SQuAD Dataset,Kapalı sistem ısı değişimiyle ilişkili termodi...,İkinci
5855,SQuAD Dataset,Newton'dan daha az kullanılan metrik terim nedir?,kilogram-kuvvet (kgf)
5856,SQuAD Dataset,Kilogram-kuvvet bazen olarak ifade edilen nedir?,kilopond
5857,SQuAD Dataset,Bin Newton'a nadiren kullanılan kuvvet birimi ...,sthène

TQUAD Train Data

In [27]:
counter = 0
question_column = []
answer_column = []
for doc in raw_json_T["data"]:
    for paragraph in doc["paragraphs"]:
        for qas in paragraph["qas"]:
            question_column.append(qas["question"])
            answer_column.append(qas["answers"][0]["text"])
            
            counter+=1

print("Total # of qa pairs:",counter)
print("Len Question column:",len(question_column))
print("Len Answer column:",len(answer_column))

df2 = pd.DataFrame({"source":"TQuAD Dataset","concept":question_column,"description":answer_column})

Total # of qa pairs: 8308
Len Question column: 8308
Len Answer column: 8308

In [28]:
df2

,source,concept,description
0,TQuAD Dataset,el-Hasan b. Muhammed el-Vezzan isimli bilgin a...,Afrikalı Leo
1,TQuAD Dataset,el-Hasan b. Muhammed el-Vezzan hangi şehirde b...,Fas (Fez) şehrinde
2,TQuAD Dataset,el-Hasan b. Muhammed el-Vezzan sicilyalı korsa...,ilk olarak Napoli’ye daha sonra Roma’ya
3,TQuAD Dataset,el-Hasan b. Muhammed el-Vezzan kim tarafından ...,Papa X. Leo
4,TQuAD Dataset,el-Hasan b. Muhammed el-Vezzan kaç yılında vaf...,6.1.1520 yılında
...,...,...,...
8303,TQuAD Dataset,"Beko, Türkiye'ye ne zaman beyaz eşya sektöründ...",1983
8304,TQuAD Dataset,Beko'nun bir ihracat firması haline gelmesini ...,yurt dışı faaliyetlerine yönelmesi
8305,TQuAD Dataset,"2000 yılında Beko, Beko Ticaret A.Ş. bünyesind...",Arçelik
8306,TQuAD Dataset,Yurt dışında kendi markasıyla satış yapan ilk ...,Beko
8307,TQuAD Dataset,2014 yılında Beko hangi futbol klübüne sponsor...,ıspanyol futbol kulüplerinden Barcelona

TQUAD Dev Data

In [29]:
counter = 0
question_column = []
answer_column = []
for doc in raw_json_T_dev["data"]:
    for paragraph in doc["paragraphs"]:
        for qas in paragraph["qas"]:
            question_column.append(qas["question"])
            answer_column.append(qas["answers"][0]["text"])
            
            counter+=1

print("Total # of qa pairs:",counter)
print("Len Question column:",len(question_column))
print("Len Answer column:",len(answer_column))

df2_dev = pd.DataFrame({"source":"TQuAD Dataset","concept":question_column,"description":answer_column})

Total # of qa pairs: 892
Len Question column: 892
Len Answer column: 892

In [30]:
df2_dev

,source,concept,description
0,TQuAD Dataset,Kemaleddin ibn Yunus lakabı dışında hangi isim...,İbn-i Yunus ve Mewsilî
1,TQuAD Dataset,Kemaleddin ibn Yunus nerede doğmuştur?,Musul
2,TQuAD Dataset,Kemaleddin ibn Yunus nerede ölmüştür?,Musul
3,TQuAD Dataset,Kemaleddin ibn Yunus'ın doğum yılı nedir?,1156
4,TQuAD Dataset,Kemaleddin ibn Yunus hangi yıl vefat etmiştir?,1241
...,...,...,...
887,TQuAD Dataset,Sencer Divitçioğlu nerede 1968-1969'da tekrar ...,Cambridge'de
888,TQuAD Dataset,Sencer Divitçioğlu ne zaman Boğaziçi Üniversit...,1975'te
889,TQuAD Dataset,Sencer Divitçioğlu ne zaman profesörlüğe yükse...,1976 yılında
890,TQuAD Dataset,Sencer Divitçioğlu ne zaman Paris Üniversites...,1983 yılında
891,TQuAD Dataset,"Sencer Divitçioğlu, Karl Marx tarafından ne za...",1850'li yılların başında

In [31]:
df.to_csv("webScrapper/csv_files/csv_SQuAD.csv",index=False)

In [32]:
df_dev.to_csv("webScrapper/csv_files/csv_SQuAD_dev.csv",index=False)

In [33]:
df2.to_csv("webScrapper/csv_files/csv_TQuAD.csv",index=False)

In [34]:
df2_dev.to_csv("webScrapper/csv_files/csv_TQuAD_dev.csv",index=False)